.news__btn {
  padding: 5px 20px;

  font-weight: 700;

  color: white;
  background: darkgray;
  border: 1px solid darkgray;

  cursor: pointer;

  transition: background 0.5s ease, color 0.5s ease;

  &:hover {
    color: darkgray;
    background: none;

    transition: background 0.5s ease, color 0.5s ease;
  }
}
