.news__item {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 15px 30px;
  margin: 0 auto;

  border: 1px solid #000;
  background: #ccc;

  .news__title {
    color: blue;
  }

  .news__date {
    font-weight: 700;

    color: green;
  }
}
