.news {
  &__nav {
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 15px 30px;
    margin: 0 auto;

    border: 1px solid #000;
  }

  &__text {
    font-size: 20px;
    text-decoration: underline;
  }
}
